{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}


    <div>
        {% if user.is_authenticated %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="loginAlert">
            <p class="text-end m-3">You are logged in as {{ user }}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
        {% else %}
        <div class="alert alert-info alert-dismissible fade show" role="alert" id="loginAlert">
            <p class="text-end m-3">You are logged out</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3">
                <h3>{% trans "Sign In" %}</h3>
                <p>{% blocktrans %}Welcome back to the Garnish B&b. If you haven't created an account yet, <a
                        class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-outline-secondary btn-signup right"
                        type="submit">{% trans "Submit" %}</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}