{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

 <!-- This template provides the necessary interface and functionality for users to sign out of the application safely. -->

<div>
    {% if user.is_authenticated %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="loginAlert">
        <p class="text-end m-3">You are logged in as {{ user }}</p>
    </div>
    {% else %}
    <div class="alert alert-info alert-dismissible fade show" role="alert" id="loginAlert">
        <p class="text-end m-3">You are logged out</p>
    </div>
    {% endif %}

</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Out" %}</h3>

            <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-outline-secondary btn-signup right" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}