{% extends 'base.html' %}
{% load static %}

{% block title %}Detail of booking{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Booking Detail</h1>
                </div>
                <div class="card-body">
                    <p><strong>Reservation Number:</strong> {{ booking.id }}</p>
                    <p><strong>User Name:</strong> {{ booking.user }}</p>
                    <p><strong>Room Type:</strong> {{ booking.room.get_room_type_display }}</p>
                    <p><strong>Check-in Date:</strong> {{ booking.check_in_date }}</p>
                    <p><strong>Check-out Date:</strong> {{ booking.check_out_date }}</p>
                    <p><strong>Booked On:</strong> {{ booking.created_on }}</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <a href="{% url 'create_booking' %}" class="btn btn-primary mt-3">Create Another Booking</a>
                        <a href="{% url 'room' %}" class="btn btn-secondary mt-3">View Your Booking List</a>
                        <a href="{% url 'update_booking' booking.pk %}" class="btn btn-warning mt-3">Update Booking</a>
                        <a href="{% url 'delete_booking' booking.pk %}" class="btn btn-danger mt-3">Cancel Booking</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/booking_detail_image.png' %}" class="img-fluid" alt="Booking Detail Image">
        </div>
    </div>
</div>
{% endblock %}