{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
  
    <label for="check-in-date">Check-in Date:</label>
    <input type="date" id="check-in-date" name="check_in_date" required>

    <label for="check-out-date">Check-out Date:</label>
    <input type="date" id="check-out-date" name="check_out_date" required>

    <!-- Display room availability information
    <div id="room-availability">
        Available Dates: {% for date in room_availability %}
            {{ date.date }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            No availability information available.
        {% endfor %}
    </div>  -->

    <button type="submit">Book Now</button>
</form>
{% endblock %}
