{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact List
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% include 'hotel_info.html' %}

        <br>


        <ul>
            {% for contact in contacts %}
            <li><a href="{% url 'contact_detail' contact.pk %}">User {{ contact.user }} --> View Your Request
                    <br>Request Sent On: {{ contact.created_on }}</a></li>
            {% endfor %}
        </ul>
        <a href="{% url 'contact_create' %} " class="text-white"> <button type="submit" class="btn btn-success">Send Us<br>
                Your Request<br>Here</a></button>
    </div>
    <div class="col-md-6">
        <!-- Image -->
        <img src="{% static 'images/hotelowner.png' %}" class="img-fluid" alt="Image">
    </div>
</div>
{% endblock %}