{% extends 'base.html' %}
{% load static %}


{% block title %}
Contact confirm delete
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% include 'hotel_info.html' %}

        <h1>Confirm Delete</h1>
        <p>Are you sure you want to delete your request User: "{{ contact.name }}"?</p>
        <form action="{% url 'contact_delete' contact.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Are you sure you want to delete?');">Yes, delete</button>
        </form>
        <a href="{% url 'contact_detail' contact.pk %}">Cancel</a>

        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    </div>
    <div class="col-md-6">
        <!-- Image -->
        <img src="{% static 'images/delform.png' %}" class="img-fluid" alt="Image">
    </div>
</div>
{% endblock %}