{% extends 'base.html' %}
{% load static %}


{% block title %}
Contact List
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% include 'hotel_info.html' %}

        <br>
        <h1>Customer Request Form</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Send Request</button>
        </form>
        <br>
        <a href="{% url 'contact_list' %}" class="btn btn-success">View Your Previous Request</a>
        
    </div>
    <div class="col-md-6">
        <!-- Image -->
        <img src="{% static 'images/anyquestion.png' %}" class="img-fluid" alt="Image">
    </div>
</div>
{% endblock %}