{% extends 'base.html' %}

{% block title %}
    Contact confirm delete
{% endblock %}

{% block content %}

     <strong style="color: rgb(14, 23, 6);">Call Us on</strong>
     <a href="tel:0219996666">0219996666</a>
     <br>
     <br>
     <strong style="color: rgb(14, 23, 6);">Email Us</strong>
     <a href="mailto:info@garnish.ie">info@garnish.ie</a>
     <br>
     <br>
     <strong style="color: rgb(14, 23, 6);">Where are here</strong>
     <a href="">21Mardyke Street,Ucc Road, Cork, T13VF29</a>
     <br>
     <br>

    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete "{{ contact.name }}"?</p>
    <form action="{% url 'contact_delete' contact.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
    </form>
    <a href="{% url 'contact_detail' contact.pk %}">Cancel</a>


{% endblock %}