/* styles.css */

/* Navbar */
.navbar {
    background-color:white;
}

/* Custom CSS */
.navbar.bg-primary {
    background-color: #69afe9;
    
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 10px;
    
}

.navbar-nav .nav-link:hover {
    color: #343a40 !important; /* Dark color */
}
/* Main content */
.container {
    margin-top: 20px;
}

/* Footer */
.footer {
    background-color: #2196f3;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Responsive styles */
/* Mobile devices (up to 767px) */
@media (max-width: 767px) {
    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: auto;
    }
}

/* Tablet devices (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
        margin-right: 10px;
        margin-left: auto;
    }
}

/* Laptop/desktop devices (992px and above) */
@media (min-width: 992px) {
    .navbar-nav .nav-item {
        margin-right: 20px;
    }
}

/* Custom CSS */
body {
    display: flex;
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

/* style.css  for hotel contact info*/
.contact-info {
    color: rgb(14, 23, 6);
}

/* Form */
#signup .background-image-container{
    background-image: url("{% static 'images/signin.png' %}");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* styling sign up form  */
.signup .form-group {
    display: inline-block;
    margin-right: 10px; 
  }
  
  .signup label {
    display: block;
  }
  
  .signup input[type="text"],
  .signup input[type="email"],
  .signup input[type="password"] {
    width: 200px; /* width  */
  }


  .logo {
    max-width: 60px; /* Adjust the max-width as needed */
    height: auto;
}
